.container {
  margin: 0 auto;
  position:relative;
  width: 768px;
  height: 96px;
  background: red;
}

.left {
  float: left;
  width: 50%;
  height: 100%;
}

.right {
  display: table;
  width: 50%;
  height: 100%;
}

img {
  float: left;
  height: 88px;
  width: 88px;
  border: 4px;
  border-color: black;
  border-style: solid;
}

.heading {
  float: left;
  padding-left: 10px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 96px;
}

.address {
  float: right;
  padding-right: 19px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 18px;
  text-align:center;
}




