$font-stack: Arial, 'Helvetica Neue', Helvetica, sans-serif;
$color-stack: rgba(87, 87, 87, 1);

.container {
  margin: 0 auto;
  position:relative;
  width: 768px;
  height: 96px;
}

.left {
  float: left;
  width: 70%;
  height: 100%;
}

.right {
  display: table;
  width: 30%;
  height: 100%;
}

img {
  float: left;
  height: 88px;
  width: 88px;
}

.male {
  border: 4px;
  border-color: rgba(55, 213, 254, 1);
  border-style: solid;
}

.female {
  border: 4px;
  border-color: rgba(238, 68, 148, 1);
  border-style: solid;
}

.heading {
  float: left;
  padding-left: 10px;
  font-family: $font-stack;
  font-size: 36px;
  font-weight: 700;
  line-height: 96px;
  color: $color-stack;
}

.address {
  float: right;
  padding-right: 19px;
  font-family: $font-stack;
  font-size: 18px;
  text-align:center;
  color: $color-stack
}




